<div class="columns is-centered"> 
  <div class="column is-two-thirds">
    <h3><strong>ADD TASKS HERE:</strong></h3>
      <div class="columns">
        <div class="column is-two-thirds">
          <form #tasks="ngForm" (ngSubmit)="onSubmit(tasks)">
            <quill-editor [modules]="quillConfig"
                          placeholder="example: wash dishes"
                          name="task"
                          rows = "3"
                          ngModel>
            </quill-editor>
            <button class="button is-primary" type="submit">Add Task</button>
          </form>        
        </div>
      </div>
    </div>
  </div>

<div class="columns is-centered">
  <div class="column is-two-thirds">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Your Tasks:
        </p>
      </div>
      <div *ngIf="taskList.length < 1" class="card-content">
        <p>
          You have no tasks!
        </p>
      </div>
      <div *ngIf="taskList" class="card-content">
          <ul *ngFor="let tasket of taskList">
            <div class="columns ">
              <input  [(ngModel)]="tasket.checked"
                      class="is-pulled-left p-r" 
                      type="checkbox" 
                      name="checkbox">           
              <li [innerHTML]="tasket" [class]="tasket.checked ? 'strike' : ''"> {{ tasket }}
              </li> 
              <i class="fas fa-trash is-pulled-right"></i>
            </div>
            <hr>
          </ul>
        </div>
    </div>
  </div>
</div>
<!-- for reformulating quilleditor html text: [innerHTML]="tasket"  -->